
html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;

}
body {
    width: 100%;
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEDEBE url("https://www.transparenttextures.com/patterns/cartographer.png");
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
#wrapper{
    overflow: hidden;
    background: none;
    padding: 0;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width:520px;
    height: 100%;
    text-align: center;
    padding-top: 80px;
    background: #141414;
    transition: 0.4s ease;
}
#hireS{
    padding-top: 15px;
    position: absolute;
    left: 100%;
}
#container{
    position: relative;
}
.blurThis{
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; height: 100%;
}
.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.hireDesc{
    width: 320px;
}
.hireDesc span {
    color : #EEDEBE;
}
#sp{
    background-position: 40% 50%;
    border: 1px solid rgba(249, 246, 255, 0) !important;
    border-bottom-color:  rgba(249, 246, 255, 0.3) !important;
    color: #fff;
}
#sp:hover{
    background-position: 100% 50%;
}

#homeB{
    position: absolute;
    left: 5%; top: calc(100% - 58px);
}
#homeBW{

    position: absolute;
    left: 5%; top: calc(100% - 58px);

}
::selection {
    background: #EEDEBE;
    color: #141414;
}



.svg-wrapper {
    position: relative;
    margin: 0 auto;
    width: 320px;
}
svg {
    display:flex;
}
.shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #E0C389; /* #D4AF37 */
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
    font-family: 'Space Mono', monospace;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.4em;
    color: #fff;
    top: -48px;
    position: relative;
    text-align: center;

}
.svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}
#shapeO {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

.fa-ul {
    list-style-type: none;
    position: relative;
    top:-50px;
    margin-bottom: -15px;
}
.fa-ul li {
    display: inline-block;
    margin-right: 15px;
    color: #fff;
}
a {
    color: inherit;
    transition: 0.33s ease;
    margin: 0;
}

ul li a:hover {
    color: #E0C389;
    cursor: pointer;
}
.open {
    color: #E0C389;
}

#emailR{
    position: absolute;
    font-size: 0.9em;
    left:-50px;
    top:37px;
    color: #E0C389;
    transition: 0.33s ease;
    opacity: 0;
}
p {
    font-family: 'Space Mono', monospace;
    font-size: 0.9em;
    letter-spacing: -0.5px;
    position: relative;
    color: white;
    transition: color 0.3s ease;
    text-align: center;
}

#desc i {
    color: #EEDEBE;
}
#desc:hover{
    cursor: pointer;
}
#desc span {
    color: #EEDEBE;
}
#desc {
    position: relative;
    transition: transform 0.33s ease;

}
#desc:hover::after{
    opacity: 1;
    left: calc(100% + 10px);
}
#desc:hover{
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
}

#desc:after{
    content: '\27F6';
    position: absolute;
    left: calc(100% - 10px);
    top:-5px;
    color: #EEDEBE;
    font-size:1.5em;
    opacity:0;
    transition: 0.33s ease;
}
#exp {
    width: 320px;
    margin: 13px 0;
}
.btn {
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-size: 0.625rem;
    letter-spacing: 0.3em;
    color: rgba(223,190,106,0.7);
    border-radius: 0;
    padding: 5px 20px;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    background: -webkit-linear-gradient(180deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background: -webkit-linear-gradient(right, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 5px;

    border: 1px solid rgba(223,190,106,0.3);
}
.btn:hover {
    color: #fff;
    border: 1px solid rgba(223,190,106,0);
    background-position: 99% 50%;
}
.break {
    width: 50px;
    border-top: 1px solid #E0C389;
    height: 1px;
    opacity: 0.4;
    position: relative;
    left:-7px;
}
p:hover {
    color: #fff;
}

.p {
    display: inline-block;
    background: transparent;
    width: 120px;
    height: 155px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0;
    font-style: normal;
    color: rgba(223,190,106,0.7);
    border-radius: 0;
    text-align: left;
    padding: 5px 5px;
    word-wrap: break-word;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    background: -webkit-linear-gradient(180deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background: -webkit-linear-gradient(right, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 5px 5px 5px 3px;
    border: 1px solid rgba(223,190,106,0.3);
}
.p:hover{
    cursor: pointer;
    color: #fff;
    border-color : #fff;
    /* background-position: 99% 50%; */
}

#workS{
    position: absolute;
    padding-top: 0 !important;
    left: 100%;
}
#blurThis{
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
#workH{
    margin: 13px 0;
}
#workH .p{
    width: 120px;
    position: relative;
    left: -5px;
    transition: all 0.33s ease;
    font-size: 1.88em;
    color:#fff;
    padding: 6px;
    height: 130px;
}
#workH:hover .p{
    border: 1px solid rgba(223,190,106,0);
    color: #fff;
    background-position: 99% 50%;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
}
#workH:hover .p::after{
    opacity: 1;
    left: calc(100% + 10px);
}
#workH .p:after{
    content: '\27F6';
    position: absolute;
    left: calc(100% - 10px);
    top:25px;
    color: #EEDEBE;
    font-size:1.5em;
    opacity:0;
    transition: 0.5s ease;
}


.notSelected{
    opacity: 0.3;
}
.p span:not(.blinking-cursor){
    position: absolute;
    top: 130px;
    left: 5px;
    letter-spacing: 2px;
    font-size: 8px;
    font-family: 'Space Mono', monospace;
    padding: 2px 4px;
    background: rgba(223,190,106,0.1);
    color: rgba(223,190,106,0.3);
}





.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    font-size: 85%;
    font-weight: 400;
}

.blinking-cursor:hover {
    color: #fff;
}


@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color:  rgba(223,190,106,0.3);
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color:  rgba(223,190,106,0.3);
    }
}

@-o-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color:  rgba(223,190,106,0.3);
    }
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color:  rgba(223,190,106,0.3);
    }
}

a:hover{
    color: #fff;
}

@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
 section{
     padding-top: 30px;
 }
    #homeB, #homeBW{
        left: 15%;
        top: calc(100% - 38px);
    }
    #blurThis{
        width: 300px;
        height: 500px;
        overflow: scroll;
        align-content: flex-start;
    }
    #workS{
        justify-content: center;
    }
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    #hireS{
        padding-top: 35px;
    }
    .hireDesc{
        width: 290px;
        font-size: 0.78em;
    }
    section{
        padding-top: 60px;
    }
    #homeB, #homeBW{
        left: 20%;
        top: calc(100% - 38px);
    }
    #blurThis{
        width: 300px;
        height: 500px;
        overflow: scroll;
        align-content: flex-start;
    }
    #workS{
        justify-content: center;
    }
}


@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    #container{
        padding-top: 100px;
    }
    .hireDesc {
        width: 320px;
        font-size: 0.9em;
    }
    #homeB, #homeBW {
        left: 15%;
    }
}
